In [1]:
import pandas as pd
import mysql.connector as sql
import details

In [2]:
df = pd.read_csv('Data/house_data_saleshistory_scraped.csv')
print(df.shape)

(35679, 3)

In [3]:
#Remove all of the extra white space for date
df['date'] = df['date'].replace('\s', '', regex=True)

#Keep all of the digits for price and price_sqft
df['price'] = df['price'].replace('\D', '', regex=True)
df.head()

   parcel_number       date     price
0     6130012037  11/3/2020   5300000
1     2166039007  11/3/2020  15450000
2     2166039007  2/25/2014  11170000
3     2166039007  8/28/2003   7250000
4     2451028033  9/28/2001   2500000

In [4]:
#Convert the features into the correct data types
df.dtypes

parcel_number     int64
date             object
price            object
dtype: object

In [5]:
df['parcel_number'] = df['parcel_number'].map(str)
df['date'] = pd.to_datetime(df['date'])
df['price'] = pd.to_numeric(df['price'])

df.dtypes

parcel_number            object
date             datetime64[ns]
price                   float64
dtype: object

In [6]:
#Remove duplicates
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(35679, 3)
(35600, 3)

In [7]:
#Remove observations with missing values
print(df.isnull().sum())
df = df.dropna()
print(df.isnull().sum())

parcel_number      0
date               0
price            414
dtype: int64
parcel_number    0
date             0
price            0
dtype: int64

In [8]:
#Save the new data into a csv file
df.to_csv('Data/house_data_saleshistory_cleaned.csv', index=False)

### Add the new data to mysql database

In [15]:
#Upload the saleshistory data to mysql database
db_connection_1 = sql.connect(
    
    host = 'Samuels-MacBook-Air.local',
    user = 'root',
    passwd = details.db_password,
    database = 'realestate_avm'
)

DatabaseError: 1130 (HY000): Host 'samuels-air' is not allowed to connect to this MySQL server

In [16]:
#Load the unique houses from the database
password = details.db_password
db_connection_2 = sql.connect(host='Samuels-MacBook-Air.local', database='realestate_AVM',
                            user='root', password=password)

homes = pd.read_sql('SELECT * FROM Homes;', con=db_connection)
parcel = list(homes['ParcelNumber'])

DatabaseError: 1130 (HY000): Host 'samuels-air' is not allowed to connect to this MySQL server

In [17]:
mycursor = db_connection_1.cursor()
#mycursor.execute('CREATE TABLE SalesHistory (ParcelNumber VARCHAR(20) , Date DATE,  SalePrice FLOAT UNSIGNED, CONSTRAINT FK_ParcelNumber FOREIGN KEY (ParcelNumber) REFERENCES Homes(ParcelNumber))')

query = 'INSERT INTO SalesHistory (ParcelNumber, Date, SalePrice) VALUES(%s, %s,%s)'                                                         

my_data = []
for index, row in df.iterrows():
    if row['parcel_number'] in parcel:
        my_data.append(tuple(row))
    else:
        continue

mycursor.executemany(query, my_data)

db_connection_1.commit()
mycursor.close()

db_connection_1.close()

NameError: name 'db_connection_1' is not defined

In [9]:
mycursor = db.cursor()
mycursor.execute('CREATE TABLE SalesHistory (ParcelNumber VARCHAR(20) , Date DATE,  SalePrice FLOAT UNSIGNED, CONSTRAINT FK_ParcelNumber FOREIGN KEY (ParcelNumber) REFERENCES Homes(ParcelNumber))')

for index, row in df.iterrows():
    
    try:
        mycursor.execute('INSERT INTO SalesHistory (ParcelNumber, Date, SalePrice) VALUES(%s, %s,%s)', tuple(row))
    except:
        continue
        
db.commit()

mycursor.close()
db.close()