In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('Data/house_data_saleshistory_scraped.csv')
print(df.shape)

(31379, 3)

In [17]:
#Remove all of the extra white space for date
df['date'] = df['date'].replace('\s', '', regex=True)

#Keep all of the digits for price and price_sqft
df['price'] = df['price'].replace('\D', '', regex=True)
df.head()

   parcel_number       date     price
0     6130012037  11/3/2020   5300000
1     2166039007  11/3/2020  15450000
2     2166039007  2/25/2014  11170000
3     2166039007  8/28/2003   7250000
4     2451028033  9/28/2001   2500000

In [18]:
#Convert the features into the correct data types
df.dtypes

parcel_number     int64
date             object
price            object
dtype: object

In [19]:
df['date'] = pd.to_datetime(df['date'])
df['price'] = pd.to_numeric(df['price'])

In [20]:
df.dtypes

parcel_number             int64
date             datetime64[ns]
price                   float64
dtype: object

In [21]:
#Remove duplicates
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(31379, 3)
(31328, 3)

In [22]:
df.to_csv('Data/house_data_saleshistory_cleaned.csv', index=False)