In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('Data/house_data_saleshistory_scraped.csv')
df.head()

,parcel_number,date,price,price_sqft
0,6357012043,\n9/28/2020,"\n$469,000",\n$346
1,6357012043,\n9/28/2020,"\n$469,000",\n$346
2,2356037034,\n9/28/2020,"\n$1,910,000",\n$849
3,2356037034,\n9/28/2020,"\n$1,910,000",\n$849
4,3242015023,\n9/28/2020,"\n$325,000",\n$224

In [24]:
#Remove all of the extra white space for date
df['date'] = df['date'].replace('\s', '', regex=True)

#Keep all of the digits for price and price_sqft
df['price'] = df['price'].replace('\D', '', regex=True)
df['price_sqft'] = df['price_sqft'].replace('\D', '', regex=True)
df.head()

   parcel_number       date    price price_sqft
0     6357012043  9/28/2020   469000        346
1     6357012043  9/28/2020   469000        346
2     2356037034  9/28/2020  1910000        849
3     2356037034  9/28/2020  1910000        849
4     3242015023  9/28/2020   325000        224

In [25]:
#Convert the features into the correct data types
df.dtypes

parcel_number     int64
date             object
price            object
price_sqft       object
dtype: object

In [26]:
df['date'] = pd.to_datetime(df['date'])
df['price'] = pd.to_numeric(df['price'])
df['price_sqft'] = pd.to_numeric(df['price_sqft'])

In [27]:
df.dtypes

parcel_number             int64
date             datetime64[ns]
price                   float64
price_sqft              float64
dtype: object

In [29]:
df.to_csv('Data/house_data_saleshistory_cleaned.csv', index=False)